/* 상단영역 */
header{
  width: 1440px;
  margin: 0 auto;
  display: flex;
  background-color: #eee;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  /*! margin-top: 30px; */
  border-radius: 0px 0 30px 30px;
  position: absolute;
  left: calc((100% - 1440px) / 2);
}
header:hover{
  box-shadow: 0 0 20px;
}
h1{
font-size: 30px;
color: blue;
letter-spacing: -1px;
}
h1::before{
  content:"";
  background-image: url(../img/svg/logo.svg);
  width: 40px;
  height: 40px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: -9px;
}
/* h1::after{
  content:"]";
} */
ul{
  display: flex;
  column-gap: 20px;
  gap: 20px;
}
ul.gnb{
  font-size: 19px;
  font-weight: bold;
}
ul.gnb li{
  
}
ul.gnb li a{
  
}
ul.gnb li a:hover{
  color: red;
}
ul.enb{
  
}
ul.enb li{
  font-size: 0;
  width: 30px;
  height: 30px;
  background-size: contain;
}
ul.enb li:nth-child(1){
  background-image: url(../img/svg/kakao.svg);
}
ul.enb li:nth-child(2){
  background-image: url(../img/svg/insta.svg);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}
ul.enb li a{
  width: 30px;
  height: 30px;
  display: block;
}
/* 타이틀영역 */
div{
  height: 600px;
  background-color: #c5c5a8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1728327510584-49c84411d2e4?q=80&w=2154&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 450px;
}
h2{
  text-transform: uppercase;
  font-size: 69px;
  margin-bottom: 30px;
  word-spacing: -7px;
}
p{
  
}

/* 메인영역 */
main{

}
/* 하단영역 */
footer{
    
}







